<div class="container mt-5" >
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between">
                    <img style="width:10rem ;" src="../../../assets/images/lestoma.png"/>
                    <p>Software para control y supervision de Biodigestores</p>
                    <img style="width:10rem ;" src="../../../assets/images/lestoma.png"/>
                </h4>
                <div class="card text-justify">
                    <div class="card-body row">
                        <div class="col-8">
                            <p class="card-text fs-5" style="text-align: justify;">Este proyecto está planteado para la comunidad estudiantil de la universidad de Cundinamarca que esta realizando sus proyectos en la unidad agroambiental el vergel de la universidad, el proyecto se realizó simulando la instalación de mas biodigestores en las diferentes unidades agroambientales, para tener una mejor visualización de su funcionamiento.</p>
                            <p class="card-text fs-5" style="text-align: justify;">Este proyecto empezará con la elaboración de un aplicativo web para el monitoreo de los datos que vaya arrojando el prototipo del biodigestor. Todo esto con el fin de supervisar las diferentes variables para que los insumos tengas una buena reutilización de las heces de la trucha, teniendo en cuenta las metas de los objetivos a trabajar de ODS (objetivos de desarrollo sostenible)</p>
                        </div>
                        <div class="col-4 text-center">
                           
                            <img style="height:20rem ;" src=" https://s2.studylib.es/store/data/008945318_1-a4855b0c0fff4664599c1a57913d4d90.png"/>
                        </div>
                     
                    </div>
                  </div>                  
            </div> 
        </div>
    </div> 
</div>