<div class="container mt-5" >
    <div class="row fs-4 text-center">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fs-3">Biodigestor 01</h5>
              <p class="card-text">El Vergel</p>
              <a routerLink="/biodigestores/vergel" class="btn btn-primary">Administrar</a>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title fs-3">Biodigestor 02</h5>
              <p class="card-text">La Esperanza</p>
              <a href="#" class="btn btn-primary">Administrar</a>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mt-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title fs-3">Biodigestor 03</h5>
                <p class="card-text">El Tibar</p>
                <a href="#" class="btn btn-primary">Administrar</a>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 mt-5">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title fw-bold">Nuevo Biodigestor</h5>
                <img style="width: 6.5rem;" class="btn mt-4 mb-4" src="https://cdn-icons-png.flaticon.com/512/1004/1004759.png"/>
              </div>
            </div>
          </div>
      </div>
</div>