<div class="container mt-3"  >
    <div class="row fs-4 text-center">
      <div *ngFor="let x of biodigesters" class=" col-sm-6 mt-3">
          <div class="card position-relative">
            <fa-icon [icon]="['fas','minus-circle']" class="text-danger position-absolute top-0 start-100 translate-middle"></fa-icon>
            <div class="card-body">
              <h5 class="card-title fs-3" [ngClass]="x.state?'text-success':'text-danger'">Biodigestor - {{x.uAgriEnvironmental}}</h5>
              <div class="card-text mt-3" style="line-height:15px;">
                <p class="">Set Point:<span class="fw-bold"> {{x.tempPoint}}</span></p>
                <p>Luces:<span class="fw-bold" [ngClass]="[x.light?'text-success':'text-danger']"> {{x.light?'On':'Off'}}</span></p>
                <p>Ventilador:<span class="fw-bold" [ngClass]="[x.fan?'text-success':'text-danger']"> {{x.fan?'On':'Off'}}</span></p>
                <p>proportionalGain:<span class="fw-bold"> {{x.proportionalGain}}</span></p>
                <p>integralTime:<span class="fw-bold"> {{x.integralTime}}</span></p>
                <p>derivativeTime:<span class="fw-bold"> {{x.derivativeTime}}</span></p>
              </div>
              <a routerLink="/biodigestores/{{x.id}}" class="btn btn-primary">Supervisar</a>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            
            </div>
          </div>
        </div>
        
          <div class="col-sm-6 mt-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title fw-bold mt-5">Nuevo Biodigestor</h5>
                <p class="mt-5"></p>
                <img style="width: 6.5rem;"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" class="btn mt-4 mb-4" src="https://cdn-icons-png.flaticon.com/512/1004/1004759.png"/>
                <p class="mt-5"></p>
              </div>
            </div>
          </div>
      </div>
</div>



<!--Modal-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese Datos del Biodiestor</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label"> Nombre de la Sede</label>
            <input type="text" id="sedeName" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="addBiodigester()" data-bs-dismiss="modal">Agregar</button>
      </div>
    </div>
  </div>
</div>