<div class="container shadow p-5 text-center mt-5 ">
    <p class="fw-bold">27/11/2020    H:4:04</p>
        <h4 class="card-title">
            <p>Reporte del Día</p>
        </h4>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Biodigestor</th>
            <th scope="col">Humedad</th>
            <th scope="col">Temperatura</th>
            <th scope="col">Calidad del Aire</th>
            <th scope="col">Gas</th>
            <th scope="col">monoxido de Carbono</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Biodigestor 01</th>
          </tr>
          <tr>
            <th scope="row">Biodigestor 02</th> 
          </tr>
          <tr>
            <th scope="row">Biodigestor 03</th>
          </tr>
        </tbody>
      </table>
</div>