<div class="container shadow mt-5 d-flex justify-content-between p-3">
    <div>
        <h4 class="card-title">
            <p>PID</p>
        </h4>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" [(ngModel)]="biodigester.proportionalGain" id="floatingInput">
            <label for="floatingInput">Proportional Gain</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" [(ngModel)]="biodigester.integralTime" id="floatingInput1">
            <label for="floatingInput1">Integral Time</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" [(ngModel)]="biodigester.derivativeTime" id="floatingInput2">
            <label for="floatingInput2">Derivate Time</label>
        </div>
    </div>
    <div>
        <input class="range" type="range" [value]="biodigester.tempPoint" min="0" max="100"
            (change)="rangeSlide($event)" />
        <span class="fs-1" id="rangeValue">{{biodigester.tempPoint}}</span>
    </div>
    <div>
        <div>
            <p>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="biodigester.light">
                    <span class="slider"></span>
                </label>
                <label class="ms-3 align-middle fs-3">Luces</label>
            </p>
            <p>
                <label class="switch">
                    <input type="checkbox" [(ngModel)]="biodigester.fan">
                    <span class="slider"></span>
                </label>
                <label class="ms-3 align-middle fs-3">Ventilador</label>
            </p>
        </div>
    </div>
    <div class="row">
        <div>
            <button type="button" (click)="startOrStop()" class="btn"
                [ngClass]="biodigester.state?'btn-danger':'btn-success'">{{biodigester.state?'Detener':'Iniciar'}}</button>
        </div>
        <div>
            <button type="button" class="btn btn-primary " (click)="saveChanges()">Guardar Cambios</button>
        </div>
    </div>
</div>
<div class="container shadow mt-5 d-flex justify-content-between p-3">
    <div class="card col-2">

        <div class="card-body">
            <h5 class="card-title text-center mb-5">Humedad Relativa</h5>

            <ngx-charts-line-chart class="card-text" [view]="[200,200]" [results]="[relativeHumedity]">
            </ngx-charts-line-chart>

            <div>
                <input class="range" type="range" [disabled]="true" value="{{lastReadHumedity}}" min="0" max="100" />
                <span class="fs-1" id="rangeValue">{{lastReadHumedity}}</span>
            </div>
        </div>
    </div>
    <div class="card col-2">

        <div class="card-body">
            <h5 class="card-title text-center mb-3">Temperatura Decimal</h5>

            <ngx-charts-line-chart class="card-text" [view]="[200,200]" [results]="relativeTemperature">
            </ngx-charts-line-chart>

            <div>
                <input class="range" type="range" [disabled]="true" value="{{lastReadTemperature}}" min="0" max="100" />
                <span class="fs-1" id="rangeValue">{{lastReadTemperature}}</span>
            </div>
        </div>
    </div>
    <div class="card col-2">

        <div class="card-body">
            <h5 class="card-title text-center mb-5">Calidad del aire</h5>

            <ngx-charts-line-chart class="card-text" [view]="[200,200]" [results]="[relativeAirQuality]">
            </ngx-charts-line-chart>

            <div>
                <input class="range" type="range" [disabled]="true" value="{{lastReadAirQuality}}" min="0" max="100" />
                <span class="fs-1" id="rangeValue">{{lastReadAirQuality}}</span>
            </div>
        </div>
    </div>
    <div class="card col-2">

        <div class="card-body">
            <h5 class="card-title text-center mb-5">Gas</h5>

            <ngx-charts-line-chart class="card-text" [view]="[200,200]" [results]="[relativeGas]">
            </ngx-charts-line-chart>

            <div>
                <input class="range" type="range" [disabled]="true" value="{{lastReadGas}}" min="0" max="100" />
                <span class="fs-1" id="rangeValue">{{lastReadGas}}</span>
            </div>
        </div>
    </div>
    <div class="card col-2">

        <div class="card-body">
            <h5 class="card-title text-center mb-3">Monoxido de Carbono (CO)</h5>

            <ngx-charts-line-chart class="card-text" [view]="[200,200]" [results]="[relativeCO]">
            </ngx-charts-line-chart>

            <div>
                <input class="range" type="range" [disabled]="true" value="{{lastReadCO}}" min="0" max="100" />
                <span class="fs-1" id="rangeValue">{{lastReadCO}}</span>
            </div>
        </div>
    </div>


</div>